#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.dark{
  background:#0e1917;
  color:white;
}

.dark .indi_card{
  background:rgba(12,20,18,0.6);
  color:#d6fff2;
  border-color:#00d0a7;
}

.dark .nav{
  background:#0e1917;
  border-color:#004f40;
}

.dark .fcard{
  background:#0f1e1a;
  color:#b4ffee;
  border-color:#00d6ad;
}
.dark{
  background:#0a1412 !important;
  color:white !important;
}

.dark .indi_card{
  background:rgba(12,20,18,0.65);
  border-color:#00d0a7;
  color:#c9fff1;
}
