*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
  scroll-behavior:smooth;
}
.dark{
  background:#0a1412 !important;
  color:white !important;
}

.dark .indi_card{
  background:rgba(12,20,18,0.65);
  border-color:#00d0a7;
  color:#c9fff1;
}

