.dash_container{
  padding:40px 60px;
}

.dash_title{
  font-size:32px;
  font-weight:800;
  color:#02484D;
}

.dash_sub{
  color:#00A884;
  margin-top:4px;
  margin-bottom:28px;
}

.tab{
  border-radius:50px;
  font-size:14px;
  padding:9px 20px;
}
.active{
  scale:1.12;
  box-shadow:0px 10px 25px rgba(0,168,132,0.32);
}


.card_grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:20px;

  /* ⭐ Smooth Animation Add Here ⭐ */
  animation: fadeUp 0.6s ease forwards;
}
@keyframes fadeUp{
  from{
    opacity:0;
    transform: translateY(30px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}
.indi_card{
  opacity:0;
  animation:fadeUp .6s ease forwards;
  animation-delay: calc(var(--i) * 0.12s);
}
