.hero{
  height:84vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:white;
  background-image: radial-gradient(circle at top right, rgba(0,168,132,0.2), transparent 50%);
}

.hero h1{
  font-size:40px;
  font-weight:800;
  color:#02484D;
}

.hero p{
  margin-top:8px;
  color:#00A884;
  font-size:18px;
  font-weight:500;
}

.btn_wrap{
  margin-top:20px;
  display:flex;
  gap:20px;
}

.btn{
  padding:12px 27px;
  border-radius:25px;
  font-weight:600;
  text-decoration:none;
  transition:.25s;
  font-size:16px;
}

.primary{ background:#00A884; color:white; }
.primary:hover{ filter:brightness(1.15); }

.outline{
  border:2px solid #00A884;
  color:#00A884;
}
.outline:hover{
  background:#00A884;
  color:white;
}
.features{
  margin-top:50px;
  display:flex;
  gap:20px;
}
.fcard{
  background:white;
  padding:18px 25px;
  border-radius:18px;
  font-weight:600;
  border:2px solid rgba(0,168,132,0.28);
  transition:.3s;
}
.fcard:hover{
  transform:translateY(-6px);
  box-shadow:0px 12px 30px rgba(0,0,0,0.10);
  border-color:#00A884;
}
.features{
  margin-top:40px;
  display:flex;
  gap:22px;
  justify-content:center;
}
.fcard{
  padding:18px 26px;
  border-radius:18px;
  background:white;
  border:2px solid rgba(0,168,132,0.35);
  transition:.3s;
  font-weight:600;
}
.fcard:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 30px rgba(0,0,0,0.10);
  border-color:#00A884;
}
